.header {
  background: var(--color-brand-dark);
}

.logo {
  display: block;
  width: 184px;
}

.logo svg {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) and (max-height: 700px) {
  .header > div > div { height: 80px; }
}

@media (min-width: 1024px) {
  .logo {
    width: 216px;
  }
}
